html {
  background-color: rgb(102, 112, 102);
}

body {
  width: 600px;
  padding: 50px;
  margin: 10px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(192, 192, 172);
}

a {
  color: rgb(16, 16, 150);
}

* {
  font-size: 1.2rem;
}
